/* Root Reset */
*{
  margin: 0;
  padding: 0;
  font-family: 'PP Neue Montreal Medium' , sans-serif;
  font-weight: 450;
  scroll-behavior: smooth;
  ::selection { background-color: #555fbb;
  color: var(--h1color);}
  
}
/* _________________________________________________ */
/* Variables */
:root {
    /* Font  */
  --font: "PP Neue Montreal";

    /* Color  */
  --primarybgclr: #08090A; /* First Body */
    /* Gradient Body = #141516 to # 08090A */

    /* Font Color  */
  --h1color: #F5F5F5; /* Header */
  --h2color: #B5B6B6; /* Below Header */
  --paramaincolor: #F7F8F8; /* Light Paragraph */
  --paraseccolor: #8A8F98; /* Grey Paragraph */

    /* Button Color */
  --btnmaintxtcolor: #08090A; /* Button text color */
  --btnsechvr: #2C2C30; /* Button text color */
  --btnmainb4hvr: #E6E6E6; /* Button before hover */
  --btnmainaftrhvr: #FFFFFF; /* Button after hover */
}
/* _________________________________________________ */
  
  /* Important Notes */
  body{
    background-color: var(--primarybgclr);
    height: auto;
  }
  img{
    pointer-events: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
  h1{
    font-family: 'PP Neue Montreal Bold';
    font-size: 2.75rem;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 1px;
  }  
  p{
    font-size: 1.25rem;
    font-weight: 530;
    line-height: auto;
    
  }

/* _________________________________________________ */

/* Navbar */
.navigationbar{
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Navbar */
.navbar{
  width: 80%;
  height: 50px;
  border-radius: 15px;
  background:  var(--btnmaintxtcolor);
  box-shadow: 0 8px 2000px 0 rgba(255, 255, 255, 0.18);
  backdrop-filter: blur( 200px );
  -webkit-backdrop-filter: blur( 20px );
  border: 1.99px solid #272727;
  position: fixed;
  top: 0;
  margin-top: 25px;
  padding-left: 3px;
  padding-right: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.navibar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 75%;
  width: 97%;
  /* background-color: red; */
}
/* 87.3 for width in other  */

/* Division of Nav section */
/* Logo */
.logo{
  /* width: 9%; */
  /* height: 50%; */
  display: flex;
  float: left;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /* background-color: red; */
}

.logo img{
  height: 20px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
/* Nav Link */
.navlinks{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55%;
  height: 55%;
  color: var(--h2color);
  letter-spacing: 0.2px;
  font-size: 0.95rem;
  /* background-color: #41a5a5; */
}
.navilinks{
  width: 100%;
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  /* background-color: #fff; */
}
li{
  transition: all 0.2s ease-out;
}
li:hover{
  color: var(--h1color);
  cursor: pointer;
}
/* Button */
.contactbtn{
  width: auto;
  /* background-color: #ff4c05; */
  display: flex;
  /* flex-direction: column; */
  align-items: center ;
  justify-content: flex-end;
  text-align: center;
  height: auto;
}
.contact{
  width: 90px;
  float: right;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--btnmainb4hvr);
  color: var(--btnmaintxtcolor);
  transition: all 0.2s ease-out;
  cursor: pointer;
  letter-spacing: 0.2px;
  font-size: 0.95rem;
  border-radius: 0.48rem;
  height: 28px;
}
.contact button{
  cursor: pointer;
  font-weight: 450;
}
.contact:hover{
  background-color: var(--btnmainaftrhvr);
}

/* _________________________________________________ */
                /* Hero Section  */

.herofull{
  width: 100%;
  height: 45rem;
  background-color: var(--primarybgclr);
  /* background-color: #9e6a6a; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-image: url(../images/White-Glow.png);
  overflow: visible;
  background-position: left;
  background-repeat: no-repeat;
  background-size: 700px 500px;
  position: relative; */

}      
.hero{
  width: 80%;
  height: 80%;
  /* background-color: #5cbeba; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}      
.heroL{
  width: 65%;
  height: 100%;
  /* background-color: #665cbe; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /* padding-top: 15vh; */
}      
.heroLhead{
  /* background-color: #5cbea5; */
  display: flex;
  text-align: left;
  padding-bottom: 1.5rem;
  color: var(--h1color);  
}
.gradientwg{
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}     
.gradient{
  background: linear-gradient(to left, #f4f4ec 0%, #a7a79d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}     
.heroLpara{
  /* background-color: #83be5c; */
  color: var(--h2color);
  display: flex;
  text-align: left;
  padding-bottom: 1.6rem;
}
.heroLbutton{
  height: 45px;
  width: 70%;
  background-color: var(--primarybgclr);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.heroLbuttonmain{
  height: 80%;
  width: auto;
}
.primarybutton{
  height: 100%;
  width: auto;
  background: var(--btnmainb4hvr);
  transition: all 0.2s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  border-radius: 0.48rem;
}
.primarybutton:hover{
  background-color: var(--btnmainaftrhvr);
}
.primarybutton button{
  font-weight: 530;
  font-size: 1rem;
  cursor: pointer;
}
.heroLbuttonsecondary{
  height: 80%;
  width: auto;
}
.secondarybutton{
  height: 100%;
  width: auto;
  color: var(--h2color);
  background: transparent;
  transition: all 0.2s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  border-radius: 0.48rem;
  margin-left: 15px;
}
.secondarybutton:hover{
  background-color: #28282ccc;
}
.secondarybutton button{
  font-weight: 530;
  font-size: 1rem;
  cursor: pointer;
}

.heroR{
  width: 35%;
  height: 100%;
  background-color: var(--primarybgclr);
  display: flex;
  float: right;
  align-items: center;
  justify-content: center;
}      


/* _________________________________________________ */
        /* Atom */
        #atom {
          position: relative;
          width: 300px;
          height: 300px;
          display: inline-block;
          margin: 10px auto;
        }
        
        #nucleus, .orbit, .electron, .orbitTrain, .electronTrain {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          width: 25px;
          height: 25px;
          border-radius: 50%;
          margin: auto;
        }
        
        #nucleus {
          background: #ACACAC;
          box-shadow: 0 0 15px #ACACAC;
          -webkit-animation: shining 2s infinite linear;
          -moz-animation: shining 2s infinite linear;
          -ms-animation: shining 2s infinite linear;
          -o-animation: shining 2s infinite linear;
          animation: shining 2s infinite linear;
        }
        
        .orbit:before {
          content: " ";
          position: absolute;
          z-index: -1;
          top: 0px;
          left: 0px;
          right: 0px;
          bottom: 0px;
          border: 0.5px solid rgba(255, 255, 255, 0.1);
          border-radius: 50%;
        }
        
        .orbit {
          width: 200px;
          height: 200px;
          border: 0;
          transform-style: preserve-3d;
          -webkit-animation: orbitSpecial 1.5s infinite linear;
          -moz-animation: orbitSpecial 1.5s infinite linear;
          -ms-animation: orbitSpecial 1.5s infinite linear;
          -o-animation: orbitSpecial 1.5s infinite linear;
          animation: orbitSpecial 1.5s infinite linear;
        }
        .orbit .electron {
          position: relative;
          top: 95px;
          width: 10px;
          height: 10px;
          background: #F7F8F8;
          box-shadow: 0 0 15px #F7F8F8;
          border-radius: 50%;
          transform: translateX(100px);
          -webkit-animation: electronAnimation 1.5s infinite linear;
          -moz-animation: electronAnimation 1.5s infinite linear;
          -ms-animation: electronAnimation 1.5s infinite linear;
          -o-animation: electronAnimation 1.5s infinite linear;
          animation: electronAnimation 2.5s infinite linear;
        }
        
        .orbit:nth-child(4) {
          transform: rotateY(65deg) rotateX(5deg);
          animation-delay: -1s;
        }
        .orbit:nth-child(4) .electron {
          animation-delay: -1s;
        }
        
        .orbit:nth-child(2) {
          transform: rotateY(65deg) rotateX(-54deg);
          animation-delay: -1s;
          animation-duration: 1s;
        }
        .orbit:nth-child(2) .electron {
          animation-duration: 2.5s;
        }
        
        .orbit:nth-child(3) {
          transform: rotateY(65deg) rotateX(54deg);
        }
        
        @-webkit-keyframes electronAnimation {
          0% {
            transform: rotateZ(0deg) translateX(100px) rotateZ(0deg) rotateY(-65deg);
          }
          100% {
            transform: rotateZ(360deg) translateX(100px) rotateZ(-360deg) rotateY(-65deg);
          }
        }
        @-moz-keyframes electronAnimation {
          0% {
            transform: rotateZ(0deg) translateX(100px) rotateZ(0deg) rotateY(-65deg);
          }
          100% {
            transform: rotateZ(360deg) translateX(100px) rotateZ(-360deg) rotateY(-65deg);
          }
        }
        @-ms-keyframes electronAnimation {
          0% {
            transform: rotateZ(0deg) translateX(100px) rotateZ(0deg) rotateY(-65deg);
          }
          100% {
            transform: rotateZ(360deg) translateX(100px) rotateZ(-360deg) rotateY(-65deg);
          }
        }
        @-o-keyframes electronAnimation {
          0% {
            transform: rotateZ(0deg) translateX(100px) rotateZ(0deg) rotateY(-65deg);
          }
          100% {
            transform: rotateZ(360deg) translateX(100px) rotateZ(-360deg) rotateY(-65deg);
          }
        }
        @keyframes electronAnimation {
          0% {
            transform: rotateZ(0deg) translateX(100px) rotateZ(0deg) rotateY(-65deg);
          }
          100% {
            transform: rotateZ(360deg) translateX(100px) rotateZ(-360deg) rotateY(-65deg);
          }
        }
        @-webkit-keyframes orbitSpecial {
          0% {
            border: 0;
            border-top: 1px solid rgba(255, 255, 255, 0.5);
          }
          35% {
            border: 0;
            border-right: 1px solid rgba(255, 255, 255, 0.5);
          }
          70% {
            border: 0;
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
          }
          100% {
            border: 0;
            border-left: 1px solid rgba(255, 255, 255, 0.5);
          }
        }
        @-moz-keyframes orbitSpecial {
          0% {
            border: 0;
            border-top: 1px solid rgba(255, 255, 255, 0.5);
          }
          35% {
            border: 0;
            border-right: 1px solid rgba(255, 255, 255, 0.5);
          }
          70% {
            border: 0;
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
          }
          100% {
            border: 0;
            border-left: 1px solid rgba(255, 255, 255, 0.5);
          }
        }
        @-ms-keyframes orbitSpecial {
          0% {
            border: 0;
            border-top: 1px solid rgba(255, 255, 255, 0.5);
          }
          35% {
            border: 0;
            border-right: 1px solid rgba(255, 255, 255, 0.5);
          }
          70% {
            border: 0;
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
          }
          100% {
            border: 0;
            border-left: 1px solid rgba(255, 255, 255, 0.5);
          }
        }
        @-o-keyframes orbitSpecial {
          0% {
            border: 0;
            border-top: 1px solid rgba(255, 255, 255, 0.5);
          }
          35% {
            border: 0;
            border-right: 1px solid rgba(255, 255, 255, 0.5);
          }
          70% {
            border: 0;
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
          }
          100% {
            border: 0;
            border-left: 1px solid rgba(255, 255, 255, 0.5);
          }
        }
        @keyframes orbitSpecial {
          0% {
            border: 0;
            border-top: 1px solid rgba(255, 255, 255, 0.5);
          }
          35% {
            border: 0;
            border-right: 1px solid rgba(255, 255, 255, 0.5);
          }
          70% {
            border: 0;
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
          }
          100% {
            border: 0;
            border-left: 1px solid rgba(255, 255, 255, 0.5);
          }
        }
        @-webkit-keyframes shining {
          0% {
            box-shadow: 0 0 0 transparent;
          }
          50% {
            box-shadow: 0 0 40px #ACACAC;
          }
          100% {
            box-shadow: 0 0 0 transparent;
          }
        }
        @-moz-keyframes shining {
          0% {
            box-shadow: 0 0 0 transparent;
          }
          50% {
            box-shadow: 0 0 40px #ACACAC;
          }
          100% {
            box-shadow: 0 0 0 transparent;
          }
        }
        @-ms-keyframes shining {
          0% {
            box-shadow: 0 0 0 transparent;
          }
          50% {
            box-shadow: 0 0 40px #ACACAC;
          }
          100% {
            box-shadow: 0 0 0 transparent;
          }
        }
        @-o-keyframes shining {
          0% {
            box-shadow: 0 0 0 transparent;
          }
          50% {
            box-shadow: 0 0 40px #ACACAC;
          }
          100% {
            box-shadow: 0 0 0 transparent;
          }
        }
        @keyframes shining {
          0% {
            box-shadow: 0 0 0 transparent;
          }
          50% {
            box-shadow: 0 0 40px #ACACAC;
          }
          100% {
            box-shadow: 0 0 0 transparent;
          }
        }
/* _________________________________________________ */
                /* Choosen by leaders */

.body1full{
  margin-top: -50px;
  height: 24rem;
  width: 100%;
  /* background-color: #51d3b3; */
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.body1{
  width: 80%;
  height: 80%;
  /* background-color: #9f5cbe; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.b1text{
  padding-bottom: 30px;
}
.b1images{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.b1images img{
  height: 130px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* background-color: #222020; */
}
/* _________________________________________________ */
            /* Service + Method + Customers */

.body23full{
  height: auto;
  width: 100%;
  background: rgb(20,21,22);
  background: -moz-linear-gradient(180deg, rgba(20,21,22,1) 0%, rgba(8,9,10,1) 50%);
  background: -webkit-linear-gradient(180deg, rgba(20,21,22,1) 0%, rgba(8,9,10,1) 50%);
  background: linear-gradient(180deg, rgba(20,21,22,1) 0%, rgba(8,9,10,1) 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#141516",endColorstr="#08090a",GradientType=1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}
/* _________________________________________________ */
                     /* Body 2.1 */
.body21{
  width: 80%;
  height: 64rem;
  /* margin-top: 20vh; */
  padding-top: 140px;
  /* background-color: #9f5cbe; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  /* background-color: #4fa5df; */
}
.body21toptxt{
  color: var(--h1color);
  margin-bottom: 8vh;
  /* background-color: #221e1e; */
  height: 20%;
  width: 100%;
}
.body21mid{
  height: auto;
  width: 100%;
  /* background-color: #6140ad; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}

.body21midalt{
  margin-top: 2rem;
  height: auto;
  width: 100%;
  /* background-color: #14251b; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}

.body21mid1{
  height: 350px;
  width: 300px;
  border: solid 1px var(--paraseccolor);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
}
.body21top{
  /* background-color: #ad5c5c; */
  height: 70px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.body21topl{
  /* background-color: #91ad5c; */
  height: 100%;
  width: 76%;
  max-width: auto;
}
.body21topr{
  background: linear-gradient(to left, #f4f4ec 0%, #a7a79d 100%);
  height: 100px;
  width: 110px;
  border-radius: 100%;
  position: relative;
  top: -30px;
  right: -30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
  padding-top: 15px;
  text-align: center;
}
.body21topr h2{
  letter-spacing: 1.75px;
  color: var(--primarybgclr);
  position: relative;
  top: 5px;
  right: 5px;
}
.body21midmid{
  /* background-color: #9867e7; */
  height: 40%;
  margin-top: 10px;
  /* margin-bottom: 5px; */
  width: 80%;
}
.body21midmid img{
  margin-bottom: 5px;
  height: 60px;
  /* background-color: #5d73f1; */
}
.body21midmid h1{
  color: var(--h1color);
  padding-top: 10px;
  font-size: 1.5rem;
  line-height: normal;
}
.body21midbottom{
  /* background-color: #3d72c0; */
  height: 30%;
  width: 80%;
}
.body21midbottom p{
  color: var(--paraseccolor);
  line-height: normal;
  /* letter-spacing: 0.2px; */
}
.lessmarginbody21mid{
  margin-bottom: -26px;
}









.body21mid2{
  height: 100%;
  width: 30%;
  background-color: #af98e4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.body21mid2 h2{
  background-color: #a55c5c;
  height: auto;
  padding-bottom: 15px;
  width: 100%;
}
.body21mid2 p{
  background-color: #26202e;
  color: var(--paramaincolor);
  line-height: auto;
  height: auto;
  padding-bottom: 8px;
  width: 100%;
  letter-spacing: -0.188px;
}

.body21mid3{
  height: 100%;
  width: 30%;
  background-color: #301470;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.body21mid3 h2{
  background-color: #a55c5c;
  height: auto;
  padding-bottom: 15px;
  width: 100%;
}
.body21mid3 p{
  background-color: #233033;
  color: var(--paramaincolor);
  line-height: auto;
  height: auto;
  padding-bottom: 8px;
  width: 100%;
  letter-spacing: -0.188px;
}
/* _________________________________________________ */
                     /* Body 2 */
.body2{
  width: 80%;
  height: 32rem;
  /* margin-top: 20vh; */
  padding-top: 140px;
  /* background-color: #9f5cbe; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  /* background-color: #4fdfdf; */
}
.body2toptxt{
  color: var(--h1color);
  margin-bottom: 8vh;
  /* background-color: #221e1e; */
  height: 20%;
  width: 100%;
}
.body2mid{
  height: 200px;
  width: 100%;
  /* background-color: #191425; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}
.body2mid1{
  height: 100%;
  width: 30%;
  /* background-color: #af98e4; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.body2mid1 h2{
  /* background-color: #a55c5c; */
  height: auto;
  padding-bottom: 15px;
  width: 100%;
}
.body2mid1 p{
  /* background-color: #27363a; */
  color: var(--paramaincolor);
  line-height: auto;
  height: auto;
  padding-bottom: 8px;
  width: 100%;
  letter-spacing: -0.188px;
}

.body2mid2{
  height: 100%;
  width: 30%;
  /* background-color: #af98e4; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.body2mid2 h2{
  /* background-color: #a55c5c; */
  height: auto;
  padding-bottom: 15px;
  width: 100%;
}
.body2mid2 p{
  /* background-color: #26202e; */
  color: var(--paramaincolor);
  line-height: auto;
  height: auto;
  padding-bottom: 8px;
  width: 100%;
  letter-spacing: -0.188px;
}

.body2mid3{
  height: 100%;
  width: 30%;
  /* background-color: #301470; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.body2mid3 h2{
  /* background-color: #a55c5c; */
  height: auto;
  padding-bottom: 15px;
  width: 100%;
}
.body2mid3 p{
  /* background-color: #233033; */
  color: var(--paramaincolor);
  line-height: auto;
  height: auto;
  padding-bottom: 8px;
  width: 100%;
  letter-spacing: -0.188px;
}
h2{
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--paramaincolor);
  line-height: auto;
}

.vl{
  border-left: 1px solid var(--paraseccolor);
  height: 100%;
}


/* _________________________________________________ */
                     /* Body 3 */
.body3{
  width: 80%;
  height: 44rem;
  /* margin-top: 5vh; */
  padding-top: 150px;
  /* background-color: #9f5cbe; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  /* background-color: #4fdfdf; */
  margin-bottom: 24vh;
}
.body3toptxt{
  color: var(--h1color);
  /* margin-bottom: 5px; */
  height: 20%;
  width: 100%;
  
}
.body3mid{
  height: 30rem;
  width: 100%;
  /* background-color: #191425; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}
.body3midl{
  height: 100%;
  width: 50%;
  /* background-color: #af98e4; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
}
.body3midl h1{
  color: var(--h1color);
  font-family: 'PP Neue Montreal Medium';
  /* background-color: #974a4a; */
  font-size: 2.5rem;
  letter-spacing: normal;
  line-height: normal;  
}
.body3midlb{
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  justify-content: flex-start;
  margin-top: 4vh;
  /* background-color: #4c5074; */
}
.storybutton{
  height: auto;
  width: auto;
  color: var(--h2color);
  /* background-color: #8466d8; */
  background: transparent;
  transition: all 0.25s ease-out;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  border: none;
}
.storybutton:hover{
  color: var(--h1color);
}
.storybutton button{
  /* font-weight: 530; */
  font-size: 1.2rem;
  cursor: pointer;
}

.body3midr{
  height: 90%;
  width: 45%;
  border-radius: 5%;
  background-color: #69dde6;
}



/* _________________________________________________ */
                     /* Body 4 */
.body45full{
  height: 100rem;
  width: 100%;
  background: rgb(20,21,22);
  background: -moz-linear-gradient(180deg, rgba(20,21,22,1) 0%, rgba(8,9,10,1) 50%);
  background: -webkit-linear-gradient(180deg, rgba(20,21,22,1) 0%, rgba(8,9,10,1) 50%);
  background: linear-gradient(180deg, rgba(20,21,22,1) 0%, rgba(8,9,10,1) 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#141516",endColorstr="#08090a",GradientType=1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}
.body4{
  width: 80%;
  height: 44rem;
  /* margin-top: 5vh; */
  padding-top: 150px;
  background-color: #9f5cbe;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  /* background-color: #4fdfdf; */
  margin-bottom: 24vh;
}
.body4toptxt{
  background-color: #63c8cf;
  color: var(--h1color);
  /* margin-bottom: 5px; */
  height: 20%;
  width: 100%;
  
}
.body4mid{
  height: 30rem;
  width: 100%;
  background-color: #191425;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}

/* _________________________________________________ */
@media screen and (max-width: 896px) {
  .navlinks{
    display: none;
  }
  .heroR{
    display: none;
  }
  
}